name: Deploy Kasir API (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Deploy
        run: |
          cd /home/ubuntu/k4ilham//kasir-api
          git pull origin main
          go mod tidy
          go build -o kasir-api
          systemctl restart kasir-api